USE [master]
GO
/****** Object:  Database [Test]    Script Date: 21/3/2025 19:14:05 ******/
CREATE DATABASE [Test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TEST\MSSQL\DATA\Test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TEST\MSSQL\DATA\Test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Test]
GO
/****** Object:  Table [dbo].[Actividades]    Script Date: 21/3/2025 19:14:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actividades](
	[id_actividad] [int] IDENTITY(1,1) NOT NULL,
	[create_date] [date] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[actividad] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Actividades] PRIMARY KEY CLUSTERED 
(
	[id_actividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paises]    Script Date: 21/3/2025 19:14:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paises](
	[codigo] [nvarchar](3) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Paises] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 21/3/2025 19:14:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Correo_Electronico] [nvarchar](50) NOT NULL,
	[Fecha_Nacimiento] [date] NOT NULL,
	[Telefono] [int] NULL,
	[Pais_Residencia] [nvarchar](3) NOT NULL,
	[Contacto] [bit] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Actividades] ON 

INSERT [dbo].[Actividades] ([id_actividad], [create_date], [id_usuario], [actividad]) VALUES (1, CAST(N'2025-03-21' AS Date), 1, N'Usuario Creado')
INSERT [dbo].[Actividades] ([id_actividad], [create_date], [id_usuario], [actividad]) VALUES (2, CAST(N'2025-03-21' AS Date), 2, N'Usuario Creado')
INSERT [dbo].[Actividades] ([id_actividad], [create_date], [id_usuario], [actividad]) VALUES (3, CAST(N'2025-03-21' AS Date), 3, N'Usuario Creado')
SET IDENTITY_INSERT [dbo].[Actividades] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id_Usuario], [Nombre], [Apellido], [Correo_Electronico], [Fecha_Nacimiento], [Telefono], [Pais_Residencia], [Contacto]) VALUES (1, N'Marco', N'Torres', N'mtor13@yahoo.com', CAST(N'1986-03-13' AS Date), 83252906, N'CRI', 1)
INSERT [dbo].[Usuarios] ([Id_Usuario], [Nombre], [Apellido], [Correo_Electronico], [Fecha_Nacimiento], [Telefono], [Pais_Residencia], [Contacto]) VALUES (2, N'Marco', N'Torres', N'mtor131@yahoo.com', CAST(N'2025-03-18' AS Date), 83252906, N'CRI', 1)
INSERT [dbo].[Usuarios] ([Id_Usuario], [Nombre], [Apellido], [Correo_Electronico], [Fecha_Nacimiento], [Telefono], [Pais_Residencia], [Contacto]) VALUES (3, N'Antonio', N'Sanchez', N'mtor14@yahoo.com', CAST(N'2009-01-05' AS Date), 89472321, N'CAN', 0)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
USE [master]
GO
